@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes show {
  0% {
    display: none !important;
    opacity: 0;
    visibility: hidden;
  }

  1% {
    display: block !important;
  }

  100% {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hide {
  0% {
    display: block !important;
    opacity: 1;
    visibility: visible;
  }

  99% {
    display: block !important;
    opacity: 0;
    visibility: hidden;
  }

  100% {
    display: none !important;
  }
}