*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font: $font-normal 16px/1.6 $font-family;
  font-weight: normal;
  font-style: normal;
  color: $color-gray-90;
}

.container {
  width: 980px;
  margin: 0 auto;
}

a {
  transition: color, .2s;
  
  &:hover {
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
}
