.clearfix {
  &:before, &:after{
    content:"";
    display:table;
  }
  &:after {
    clear: both;
  }
}

.responsive-img {
  width: 100%;
  height: auto;
}

.relative {
  position: relative;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.invisible {
  visibility: hidden;
}

.flex-center {
  margin-top: auto;
  margin-bottom: auto;
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.last {
  margin-right: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.text_bold {
  font-family: $font-family_bold;
}

.disabled {
  color: $color-gray-40;
  cursor: default;
}

.mar_b_10 {
  margin-bottom: 10px;
}

.mar_b_20 {
  margin-bottom: 20px;
}

.mar_b_30 {
  margin-bottom: 30px;
}

.mar_b_40 {
  margin-bottom: 40px;
}

.mar_b_50 {
  margin-bottom: 50px;
}

.mar_r_10 {
  margin-right: 10px;
}

.mar_r_20 {
  margin-right: 20px;
}

.mar_r_30 {
  margin-right: 30px;
}

.mar_r_40 {
  margin-right: 40px;
}

.mar_r_50 {
  margin-right: 50px;
}

.mar_r_100 {
  margin-right: 100px;
}