$color-gray-10:    	    #F1f1f1;
$color-gray-20:    	    #DADADA;
$color-gray-50:         #747880;
$color-gray-90: 		#252525;

$color-blue-10:		    #d3dae9;
$color-blue-50:         #6153CC;
$color-blue-90:         #1a3143;

$color-blue:            #B1A9EF;
$color-mint:            #00cc99;
$color-mint_light:      lighten(#00cc99, 10%);
$color-mint_dark:       darken(#00cc99, 10%);
$color-violet:          #FF8AD3;
$color-green:			#90FF99;
$color-peach:			#FFA58C;

$font-color_dark:       #2e3033;
$font-color:            #9da1a7;
$font-color_light:      #d3dae9;

$font-family:			"OpenSansRegular", "Arial", serif;
$font-family_light:		"OpenSansLight", "Arial", serif;
$font-family_bold:		"OpenSansSemiBold", "Arial", serif;

$h1-size: 				38px;
$h2-size: 				24px;
$h3-size: 				18px;
$h4-size: 				14px;

$font_large:			18px;
$font_default:			13px;
$font_small:			12px;
$font_nano:             11px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;