$color-gray-10:    	    #F1f1f1;
$color-gray-20:    	    #D3D3D3;
$color-gray-50:         #747880;
$color-gray-90: 		#252525;

$color-blue-10:		    #d3dae9;
$color-blue-40:         #6495ED;
$color-blue-50:         #6153CC;
$color-blue-90:         #1a3143;

$color-blue:            #B1A9EF;
$color-mint:            #1BE6B3;
$color-pink:            #F3A6D6;
$color-green:			#90FF99;
$color-darkgreen:		#97D897;
$color-peach:			#FFA58C;

$font-family:			"OpenSansRegular", "Arial", serif;
$font-family_light:		"OpenSansLight", "Arial", serif;
$font-family_bold:		"OpenSansSemiBold", "Arial", serif;

$h1-size: 				38px;
$h2-size: 				24px;
$h3-size: 				18px;
$h4-size: 				14px;

$font_large:			18px;
$font_default:			13px;
$font_small:			12px;
$font_nano:             11px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;