$color-black: 			#000000;
$color-white: 			#ffffff;

$color-gray-5:    	    #fcfcfc;
$color-gray-10:    	    #f5f7f9;
$color-gray-20:         #d7d7d9;
$color-gray-30:         #edf0f0;
$color-gray-35:         #e3e4e6;
$color-gray-40:         #b3b8c0;
$color-gray-50:         #747880;
$color-gray-60:         #656f73;
$color-gray-80: 		#252525;

$color-blue-10:		    #d3dae9;
$color-blue-30:		    #4b88b8;
$color-blue-40:		    #00b0e9;
$color-blue-50:         #1c75bc;
$color-blue-60:         #19649f;
$color-blue-80:         #1a3143;
$color-gold:			#ffd54f;
$color-peach:			#ea8f8f;

$font-color_dark:       #2e3033;
$font-color:            #9da1a7;
$font-color_light:      #d3dae9;

$font-family:			"OpenSansRegular", "Arial", serif;
$font-family_light:		"OpenSansLight", "Arial", serif;
$font-family_bold:		"OpenSansSemiBold", "Arial", serif;

$h1-size: 				38px;
$h2-size: 				24px;
$h3-size: 				18px;
$h4-size: 				14px;

$font_large:			18px;
$font_default:			13px;
$font_small:			12px;
$font_nano:             11px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;