.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 32px;
  padding: 5px 12px;
  border-radius: 3px;
  border: 1px solid $color-gray-50;
  background-color: #fff;
  color: $color-gray-90;
  font-family: $font-family_bold;
  font-size: $font_default;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  box-shadow: none;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  
  &:hover,
  &:focus {
    border-color: $color-gray-50;
    background-color: $color-gray-10;
  }
  
  &:active {
    background-color: darken($color-gray-10, 5%);
  }
}

.btn_plus {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: $color-blue-40;
  border-radius: 100%;
  
  &:hover {
    background: darken($color-blue-40, 10%);
  }
  
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 2px;
    background: $color-gray-10;
  }

  &:after {
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }

  &:before {
    transform: translateY(-50%) translateX(-50%);
  }
}

.btn_remove {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;

  &:hover:before {
    background: lighten($color-gray-90, 15%);
  }

  &:hover:after {
    background: lighten($color-gray-90, 15%);
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 2px;
    background: $color-gray-90;
  }

  &:after {
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
  }

  &:before {
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  }
}

.btn_disabled {
  border-color: $color-gray-50;
  background-color: $color-gray-10;
  color: $color-gray-50;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-50;
    background-color: $color-gray-10;
    color: $color-gray-50;
  }
}

.btn_standart {
  border-color: $color-blue-50;
  background-color: $color-blue-50;
  color: #fff;

  &:hover,
  &:focus {
    border-color: $color-blue-50;
    background-color: $color-blue-50;
  }

  &:active {
    border-color: darken($color-blue-50, 5%);
    background-color: darken($color-blue-50, 5%);
  }
}

.btn_attach {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: 0;
  color: $color-blue-50;
  font-family: $font-family_bold;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    color: $color-blue-50;
  }

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}

.btn_upload {
  overflow: hidden;

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}