.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 32px;
  padding: 5px 12px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-gray-50;
  background-color: #fff;
  color: $font-color_dark;
  font-family: $font-family_bold;
  font-size: $font_default;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  box-shadow: none;  

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  
  &:hover,
  &:focus {
    border-color: $color-gray-50;
    background-color: $color-gray-10;
  }
  
  &:active {
    background-color: darken($color-gray-10, 5%);
  }
}

.btn_disabled {
  border-color: $color-gray-50;
  background-color: $color-gray-10;
  color: $color-gray-50;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-50;
    background-color: $color-gray-10;
    color: $color-gray-50;
  }
}

.btn_standart {
  border-color: $color-blue-50;
  background-color: $color-blue-50;
  color: #fff;

  &:hover,
  &:focus {
    border-color: $color-blue-50;
    background-color: $color-blue-50;
  }

  &:active {
    border-color: darken($color-blue-50, 5%);
    background-color: darken($color-blue-50, 5%);
  }
}


.btn_attach {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: 0;
  color: $color-blue-50;
  font-family: $font-family_bold;
  overflow: hidden;
  cursor: pointer;
  
  &:hover {
    color: $color-blue-50;
  }

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}

.btn_upload {
  overflow: hidden;

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}