.form__item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 32px;
  margin-bottom: 20px;
  padding: 5px 12px;
  border: 1px solid $color-gray-20;
  box-shadow: inset 0 0 10px 0 rgba(215, 215, 217, .35);
  border-radius: 5px;
  background-color: $color-white;
  font-size: $font_default;
  color: $font-color_dark;
  
  &:focus {
    outline: 0;
    border-color: $color-blue-30;
  }

  &[disabled] {
    background-color: $color-gray-10;
    cursor: default;
  }

  &:invalid {
    //border-color: $color-peach; // TODO: не забыть про валидацию
  }

  &:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
  &:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
}

.form__item_big {
  padding: 20px 12px;
}

.form__textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  border: 1px solid $color-gray-20;
  border-radius: 5px;
  box-shadow: none;
  background-color: $color-white;
  box-shadow: inset 0 0 10px 0 rgba(215, 215, 217, .35);
  font-size: $font_default;
  color: $font-color_dark;
  resize: none;

  &:focus {
    outline: 0;
    border-color: $color-blue-30;
  }

  &[disabled] {
    background-color: $color-gray-10;
    cursor: default;
  }

  &:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
  &:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
}

.form__textarea_custom {
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
  box-shadow: none;

  &:focus {
    outline: 0;
    border-color: transparent;
  }
}