.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  & li {
    flex: 0 1 auto;
  }

  & li:first-child .nav__link {
    padding-left: 0;
  }

  & li:last-child .nav__link {
    padding-right: 0;
  }
}

.nav__link {
  @extend .link;
  padding: 15px;
  text-decoration: none;
  font-family: $font-family_bold;
}