.logo {
  display: block;
  font-size: 21px;
  color: $color-gray-50;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 5px 0;
  text-shadow: none;
  transition: color, text-shadow, .2s, .2s;

  &:hover {
    color: $color-gray-10;
    text-shadow: 0 2px 10px rgba(0,0,0, 1);
  }
}
